body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 20px;
  font-family: "Montserrat", sans-serif;
}

body > div {
  min-width: 700px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
body > div > div {
  min-width: 700px;
}

.picker-container {
  display: flex;
}

.station-picker {
  display: flex;
  gap: 10px;
  flex: 1;
}

.side-by-side {
  display: flex;
  gap: 30px;
}

.container {
  display: flex;
  flex-direction: column;
}
